#recent-activities .container{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

#recent-activities-index{
    width: 20%;
    display: inline;
    text-align: center;
    padding: 8px;
}


#recent-activities-content {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
