html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    HelveticaNeue, "Segoe UI", "游ゴシック体", YuGothic, "Yu Gothic M",
    "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3",
    "Hiragino Kaku Gothic ProN W3", HiraKakuProN-W3, "ヒラギノ角ゴ ProN",
    "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",
    "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

body {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 400;
  color: #212529;
  text-align: left;
  background-color: #fff;
  font-weight: bold;
}

p {
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  color: #212529;
}

.text-container {
  letter-spacing: 0.1rem;
  max-width: 800px;
  width: 80%;
  margin-bottom: 1.5rem;
  margin: auto auto;
  font-size: 2vw;
}

/* #header-site {
  margin-bottom: 0px;
  border-bottom: 0px solid #fff;
  background: black url(../img/mv.png) center center no-repeat;
  background-size: cover;
}

#header-site #header-site-inner {
  padding: 40px 30px 60px 30px;
  position: relative;
  max-width: 1080px;
  margin: auto;
}

#header-site #header-site-inner #header-site-inner-image {
  margin: 150px auto;
  width: 100%;
}

.header-img {
  width: 100%;
  height: auto;
} */
.banner {
  padding: auto;
}

.banner:hover {
  opacity: 0.7;
}

img.radius {
  margin: 20px 0px 20px 0px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.nobreak {
  display: inline-block;
}

.menu {
  font-size: 1em;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #ed8600;
  border-radius: 3px;
  transition: 0.4s;
  background: white;
}

.menu:hover {
  background: #ed8600;
  color: white;
}

.button {
  font-size: 1em;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #ed8600;
  border: solid 2px #ed8600;
  border-radius: 3px;
  transition: 0.4s;
  background: white;
}

.button:hover {
  background: #ed8600;
  color: white;
}

.post-info {
  /* background-color: #e2eba3; */
  background: #fff9f4;
  position: relative;
  padding-top: 0px;
  margin-bottom: 0px;
}
.post-date {
  /* background: #0068b7; */
  background-color: #ff690c;
  border-radius: 50%;
  color: #fff;
  width: 70px;
  height: 70px;
  font-size: 1.4rem;
  text-align: center;
  position: absolute;
  line-height: 30px;
  top: 0;
  padding-top: 3px;
}
.post-date span {
  font-size: 1rem;
  border-top: 1px rgba(255, 255, 255, 0.5) solid;
  padding-top: 6px;
  display: block;
  width: 60%;
  margin: 0 auto;
}
.post-title {
  margin-left: 80px;
}

@media screen and (max-width: 760px) {
  #top {
    padding-top: 40px;
  }
}

.table {
  max-width: 550px;
  font-size: 20px;
  color: #555555;
  font-weight: normal;
  margin: 0 auto;
  width: auto;
}

@media screen and (max-width: 480px) {
  .table > thead > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > th,
  .table > tbody > tr > td {
    font-size: 16px;
    word-break: break-all;
  }
  #sns img {
    max-width: 240px;
  }
}

.dl-horizontal dt {
  float: left;
  max-width: 50px;
  overflow: hidden;
  clear: left;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dl-horizontal dd {
  margin-left: 0px;
}

.comming-photo img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1;
  border: 1px solid #dfdfdf;
}

.info {
  margin-top: 40px;
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 20px;
}

.small-info {
  display: flex;
  align-items: stretch; /* 列の高さを揃える */
  flex-wrap: nowrap; /* 絶対に縦積みにしない */
  box-sizing: border-box;
  margin-top: 10px;
  /* border-top: 1px solid #dfdfdf;
    padding-top: 10px; */
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 10px;
}

.small-info .col-sm-8 > p {
  display: flex;
  align-items: center; /* 縦中央揃え */
  gap: 1rem; /* 要素間の余白（好みで調整） */
  flex-wrap: wrap; /* 幅が足りなくなったら要素ごとに折り返す */
  margin: 0;
}

.small-info .col-sm-3,
.small-info .comming-photo {
  float: none !important;
  flex: 0 0 30% !important; /* 元の col-sm-3 相当 */
  width: 30% !important;
  box-sizing: border-box;
}
.small-info .col-sm-8 {
  float: none !important;
  flex: 1 0 70% !important; /* 元の col-sm-8 相当 */
  width: 70% !important;
  box-sizing: border-box;
}
/* 画像の挙動 */

.small-info .comming-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* アスペクト比を保ちつつ領域を埋める */
  display: block;
}
/* 必要なら右側のテキストに余白を追加 */
.small-info .col-sm-8 {
  padding-left: 20px;
}
/* スマホで横幅が狭すぎる場合に文字がはみ出るのを抑える */
.small-info {
  word-break: break-word;
}

.info:after {
  content: "";
  display: table;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both;
}
.nonecolor {
  color: #000000;
}

.info ul {
  padding-inline-start: 2em;
}
.info ul > li {
  color: #777777;
  list-style: disc;
}
.info ul > li > a {
  color: #777777;
  border-bottom: 2px solid #dfdfdf;
}

.under {
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 15px;
}

.info-inner p {
  line-height: 150%;
  font-size: 1.5rem;
}
.small-info-inner p {
  line-height: 120%;
  font-size: 1.3rem;
}

.info.coming::before {
  content: "COMING SOON";
  display: block;
  position: absolute;
  z-index: 100;
  left: -10px;
  top: -20px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 300%;
  padding: 10px;
  color: white;
  margin-bottom: 20px;
  transform: rotateZ(-10deg);
  background-color: #f69749;
  border-radius: 50%;
}

.swiper {
  left: 0;
  width: 100vw; /* 幅を指定 */
  height: 100vh; /* 高さを指定 */
  /* background-color: #ffc68d; */
  background-image: url(../img/header-bg2.jpg);
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}
.swiper-slide {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide img {
  display: block;
  /* ブロック要素になった画像を中央揃え */
  margin: auto auto;
  width: 80%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .swiper-slide img {
    display: block;
    margin: auto auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .swiper-slide img {
    transform: translateY(-50px);
  }
}

/* ボタン全体の設定 */
.custom-prev-btn,
.custom-next-btn {
  /* デフォルトの競合を心配せず、デザインをゼロから定義 */
  width: 0px;
  height: 0px;
  border: none;
  /* border-radius: 50%; */
  /* background-color: #ffffff91; */
  cursor: pointer;
  padding: 0;
  /* ボタンの位置決め（FlexboxやAbsolute Positionなどで調整） */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.custom-prev-btn {
  border-bottom: 20px solid transparent;
  border-right: 30px solid #ffffffcc;
  border-top: 20px solid transparent;
}

.custom-next-btn {
  border-bottom: 20px solid transparent;
  border-left: 30px solid #ffffffcc;
  border-top: 20px solid transparent;
}

/* 個別の配置 */
.custom-prev-btn {
  left: 10px;
}
.custom-next-btn {
  right: 10px;
}

/* アイコンやSVGのデザイン */
.custom-prev-btn svg,
.custom-next-btn svg {
  /* SVGアイコンの色やサイズを設定 */
  fill: white;
  width: 20px;
  height: 20px;
  /* ボタンの中央に配置 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.swiper-scrollbar {
  /* バーの高さを太くする */
  height: 8px !important;
  /* 角を丸くする */
  border-radius: 4px;
}
.swiper-scrollbar-drag {
  /* メインカラーをオレンジに変更 */
  background-color: #ff7b00 !important;
  /* 角を丸くする (トラッカーの角と合わせる) */
  border-radius: 4px;
}
